
.c-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // padding: 46px 120px;
    padding-top: 46px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.7);
    @include sp {
        padding: 35px 20px 0;

    }
    
}


.c-modal__content {
    background-color: $cl-white--1;
    margin: 0 auto;
    padding: 40px 56px 20px;
    border: 4px solid $cl-blue--1;
    width: 960px;
    height: 763.5px;
    text-align: center;
    @include tab {
        transform: scale(75%);
        width: unset;
        height: unset;
    }
    @include sp {
        transform: unset;
        max-width: 336px;
        padding: 34px 16px 24px;
    }
   
}

.c-modal__img {
    width: 840px;
    height: 600px;
    @include tab {
        width: unset;
        height: unset;
    }
    @include sp {

    }
    
}


.c-closeModal {
    margin-top: 40px;
    display: inline-block;
    color: $cl-white--1;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1.98px;
    border-radius: 9px;
    background-color: $cl-blue--1;
    padding: 8px 22px;
    cursor: pointer;
    @include sp {
        margin-top: 18px;
    }
   
}



