.c-decorLeft {
    display: inline-block;
    position: relative;

    &::before {
        position: absolute;
        top: -9px;
        left: 6px;
        height: 4px;
        width: 40.5px;
        transform: translate(-50%, -50%);
        background-color: $cl-orange--1;
        content: "";
        @include sp {
            top: -9px;
            left: 5px;
            height: 4px;
            width: 30px;
        }
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 43.3px;
        width: 4px;
        transform: translate(-50%, -50%);
        background-color: $cl-orange--1;
        content: "";
        @include sp {
            top: -3px;
            left: 0;
            height: 31.3px;
            width: 4px;
        }
    }
}

.c-decorRight {
    display: inline-block;
    position: relative;
    right: -95.1%;
    top: -8px;
    transform: translate(-50%, -50%);
    @include tab {
        right: -93.7%;
    }

    &::before {
        position: absolute;
        top: 9px;
        left: 6px;
        height: 4px;
        width: 40.5px;
        transform: translate(-50%, -50%);
        background-color: $cl-orange--1;
        content: "";
        @include sp {
            top: 20px;
            left: 8px;
            height: 4px;
            width: 31.5px;
        }
    }

    &::after {
        position: absolute;
        top: 0;
        left: 13px;
        height: 43.3px;
        width: 4px;
        transform: translate(-50%, -50%);
        background-color: $cl-orange--1;
        content: "";
        @include sp {
            top: 14px;
            left: 13px;
            height: 32.3px;
            width: 4px;

        }
    }
}
