.c-flexbox {
    display: flex;
}

.c-flexbox--3row {
    @include sp {
        flex-wrap: wrap;
        
        
    }

    .c-flexbox__item {
        width: 32.7%;
        position: relative;
        @include sp {
            width: 100%;
            display: flex;
            margin-bottom: 49px;
        }

        picture {
            @include sp {
                width: 84.5%;
            }
        }

        .c-flexbox__img {
            @include sp {
                width: 100%;
                height: 208px;
                min-width: 142px;
            }
        }

        &::before {
            position: absolute;
            content: "";
            
          
            border: 4px solid $cl-blue--1;
            width: 97.4%;
            height: 98.4%;
            z-index: 1;
            @include tab {
                width: 96.4%;
                height: 103.9%;

            }
            @include sp {
                width: 98.7%;
                border: 2px solid $cl-blue--1;
                height: 98%;

            }
        }

        &:not(:last-of-type) {
            margin-right: 9px;
            @include tab {
                margin-right: 19px;
            }
            @include sp {
                margin-right: unset;
            }
        }

        &:hover .c-flexbox__border,
        &:hover .c-flexbox__desc {
            border-color: #005384;
        }

        &:hover .c-flexbox__bannerMain {
            background-color: #005384;

            .c-flexbox__bannerIcon {
                color: #005384;
            }
        }

        &:hover .c-flexbox__overlay {
            opacity: 1;
        }
    }

    

    .c-flexbox__desc {
        transition: all 0.3s;
        font-weight: 600;
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.53;
        letter-spacing: 0.43px;
        background-color: $cl-white--1;
       
        padding: 16px 40px 49px 25px;
        top: 76%;
        left: 0;
        @include tab {
            top: 74.1%;
            font-size: 1.5rem;
            letter-spacing: 0.36px;
            line-height: 1.83;
    
 
            padding: 12px 16px 49px 13px;
        }
        @include sp {
            position: unset;
            font-size: 1.4rem;
            letter-spacing: 0.34px;
            line-height: 1.57;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .c-flexbox__banner {
        position: absolute;
        top: 92.3%;
        left: 0;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        z-index: 2;
        @include tab {
            top: 95.6%;
            padding-left: 20px;
            padding-right: 20px;
        }
        @include sp {
            top: 85%;
            padding-left: 28px;
            padding-right: 27px;
            z-index: 4;
        }
    }

    .c-flexbox__bannerMain {
        transition: all 0.3s;
        min-width: 100%;
        min-height: 100%;
        background-color: $cl-blue--1;
        display: flex;
        padding: 14px 21px;
        align-items: center;
        @include tab {
            padding: 13px 15px;
        }
        @include sp {
            padding: 9px 23px;
        }
    }

    .c-flexbox__bannerIcon {
        background-color: $cl-white--1;
        color: $cl-blue--1;
        min-width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        margin-right: 18px;
        line-height: 0.9;
        @include tab {
            min-width: 16px;
            height: 16px;
            line-height: 0.8;
            margin-right: 15px;
        }
        @include sp {
            margin-right: 21px;
        }

        i {
            font-size: 0.6rem;
            transform: translateX(1px);
        }
    }

    .c-flexbox__bannerDesc {
        @include tab {
            font-size: 1.2rem;
        }
        @include sp {
            letter-spacing: 0.29px;
        }
    }

    .c-flexbox__bannerName {
        font-size: 2rem;
        letter-spacing: 0.48px;
        @include tab {
            font-size: 1.4rem;
        }
        @include sp {
            font-size: 1.6rem;
            letter-spacing: 0.38px;
        }
    }

    .c-flexbox__overlay {
        opacity: 0;
        transition: all 0.3s;
        width: 100%;
        height: 76%;
        background-color: rgba(255, 255, 255, 0.74);
        position: absolute;
        top: 0;
        left: 0;
        border-right: 4px solid #005384;
        border-left: 4px solid #005384;
        border-top: 4px solid #005384;
        z-index: 3;
        @include sp {
            border: 2px solid #005384;
            height: 100%;
        }
    }

    .c-flexbox__overlayC {
        cursor: pointer;
        font-size: 2.4rem;
        text-align: center;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include tab {
            top: 53.3%;
        }

        i {
            color: #005384;
            display: block;
            margin-bottom: 3px;
            @include tab {
                font-size: 1.8rem;
            }
        }

        .c-flexbox__overlayTxt {
        
            letter-spacing: 0.58px;
            color: #005384;
            font-weight: 600;
            @include tab {
                letter-spacing: 0;
            }
        }
    }
}
