.u-clOrange {
    color: $cl-orange--1 !important;
}

.u-clBlue {
    color: $cl-blue--1 !important;
}

.u-fs44 {
    font-size: 4.4rem !important;
}

.u-fs34 {
    font-size: 3.4rem !important;
}

.u-fs24 {
    font-size: 2.4rem !important;
}

.u-fs28 {
    font-size: 2.8rem !important;
}

.u-fs25 {
    font-size: 2.5rem !important;
}

.u-mgBot0 {
    margin-bottom: 0 !important;
}


.u-tablet--hidden {
    display: none;
    @include sp {
        display: block;
    }
}

.u-tablet--display {

    @include sp {
        display: none !important;
    }
}
