//baseWidth
$base-width: 1200px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$cl-white--1: #fff    ;

$cl-gray--1: #3c3c3c;
$cl-gray--2: #f8f8f8;
$cl-gray--3: #fdfbef;
$cl-gray--4: #cbcbcb;
$cl-gray--5: #f7f7f7;
$cl-gray--6: #a0a0a0;
$cl-gray--7: #eff3f5;
$cl-blue--1: #0080cc;



$cl-orange--1: #ff5800;
