.c-about {
    padding-right: 60px;
    width: 100%;
    position: relative;
    @include tab {
        padding-right: 23px;
    }

    &::before {
        position: absolute;
        content: "";
        background-color: $cl-blue--1;
        width: 76.75%;
        height: 100%;
        top: 0;
        left: 0;
        @include tab {
            width: 86.95%;
        }
        @include sp {
            width: 97.4%;
        }
    }
    @include sp {
        padding-right: 10px;
    }

    .c-about--main {

        width: 97.2%;
        display: flex;
        padding-top: 112px;
        padding-bottom: 101px;
        @include tab {
            padding-top: 84px;
            padding-bottom: 56px;
            
            
        }
        @include sp {
            width: 100%;
          
          
            flex-direction: column-reverse;
            
        
            padding: 52px 15px 56px;
        }
    }

    .c-title {
 
        margin-bottom: 24px;
        @include tab {
            font-size: 3rem;
            letter-spacing: 1.62px;
            margin-bottom: 11px;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            margin-bottom: 10px;
        }

    }

    .c-about--L {
        margin-left: auto;
        margin-right: auto;
        padding-left: 75px;
        padding-right: 20px;
        @include tab {
            padding-left: 7px;
        }
        @include sp {
            width: 100%;
            padding: 0;
            padding-left: 5px;
        }
       
    }

    .c-about--R {
        position: relative;
        padding-top: 9px;
        @include tab {
            padding-top: 0;
        }
        @include sp {
          
        }
    }

    .c-about--Lexbox {
        max-width: 416px;
        margin-left: auto;
        @include tab {
            margin-left: unset;
            margin-right: auto;
            max-width: 400px;
        }
        @include sp {
         

            margin: 31px auto 0;
       
        }
    }

    .c-about__desc {
        font-weight: 400;
        letter-spacing: 0.38px;
        line-height: 1.73;
        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.34px;
            line-height: 1.78;
        }
        @include sp {
            letter-spacing: 0.34px;
            line-height: 1.58;
        }

        &:not(:last-of-type) {
            margin-bottom: 29.4px;
            @include tab {
                margin-bottom: 25.3px;
            }
            @include sp {
                margin-bottom: 21.5px;
            }
        }
    }

   

    .c-about__imgs {
        
        
        @include tab {
            transform: translateY(-6px);
        }
        @include sp {
            
            transform: translateY(0);
        }

        img {
            min-width: 540px;
            @include tab {
                min-width: 309px;
            }
            @include sp {
                min-width: unset;
            }
            
        }
    }

    .c-about__imgBox {
        position: relative;

        &::after {
            position: absolute;
            width: 99.3%;
            height: 100%;
            content: "";
            border: 2px solid $cl-white--1;
            top: -2px;
            left: -4px;
            @include sp {
                width: 100%;
                height: 98%;
            }
        }

        &:not(:last-of-type) {
            margin-bottom: 44px;
            @include tab {
                margin-bottom: 41px;
            }
            @include sp {
                margin-bottom: 29px;
            }
        }
        @include sp {
            max-width: 335px;
          
            margin: 0 auto;
        }

        .c-about__img {
            transform: translate(3.2%, -6%);
            @include tab {
                transform: translate(4.2%, -6%);

            }
            @include sp {

                transform: translate(1.8%, -6%);
            }
        }
    }
}
