.c-album {
    margin-top: 89px;
    @include tab {
        margin-top: 43px;
    }
    @include sp {
        margin-top: 30px;
        padding: 0 10px;
    }

    .c-album__header {
        text-align: center;
    }

    .c-title {
        letter-spacing: 1.82px;
        margin-bottom: 13px;
        @include tab {
            margin-bottom: 7px;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 0.8px;
            margin-bottom: 4px;
        }
    }

    .c-cap {
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0.34px;
        
        }
    }

    .c-album__body {
        width: 880px;
        margin: 35px auto 0;
        max-width: 880px;
        border: 1px solid $cl-blue--1;
        padding: 39px 40px;
        display: flex;
        max-height: 642px;
        @include tab {
            width: unset;
            max-width: 730px;
            margin: 36px auto 0;
            padding: 19px 20px 13px;
        }
        @include sp {
            flex-wrap: wrap;
            max-height: unset;
            padding: 9px 9px 0;
        }

    }

    .c-album__video {
        width: 50%;
        margin-right: 20px;
        @include tab {
            margin-right: 18px;
        }
        @include sp {
            width: 100%;
        }
        @include sp {
            margin-right: 0;
        }

        video {
            min-width: 400px;
            max-height: 560px;
            object-fit: cover;
            @include tab {
                min-width: 343px;
                max-width: 343px;
                max-height: 462px;
            }
            @include sp {
                min-width: unset;
                width: 335px;
                max-width: 100%;
                max-height: 450px;
            }
        }
    }

    .c-album__imgs {
        height: fit-content;
        transform: translateX(1px);
        width: calc(50% - 20px);
        display: flex;
        flex-wrap: wrap;
        @include tab {
            height: unset;
            max-height: 462px;
        }
        @include sp {
            width: 100%;
            padding-top: 13px;
            max-height: unset;
        }
    }

    .c-album__img {
        position: relative;
        width: calc(50% - 10px);
        height: fit-content;
        margin-bottom: 26px;
        @include tab {
            margin-bottom: 22px;
        }
        @include sp {
            width: calc(50% - 5px);
            
            margin-bottom: 10.5px;

        }

        &:nth-of-type(2n) {
            margin-left: 20px;
            @include sp {
                margin-left: 9px;
            }
        }


        .c-album__overlay {
            opacity: 0;
            transition: all 0.5s;
            background-color: rgba(255, 255, 255, 0.6);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &:hover .c-album__overlay {
            opacity: 1;
        }

        .c-album__pick {
            font-size: 1.8rem;
            letter-spacing: 0.43px;
            font-weight: 500;
            position: absolute;
            top: 63%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            &::after {
                position: absolute;
                font-family: "Font Awesome 5 Free";
                content: "\f00e";
                font-weight: 700;
                font-size: 2.3rem;
                color: $cl-blue--1;
                top: -52%;
                left: 49.7%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
