.c-header {
    background-color: $cl-white--1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;

    .c-header--main {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 21px;
        @include tab {
            padding: 0 20px;
            justify-content: space-between;
            height: unset;
        }

        .c-header__logo {
            padding: 15px 0 26px;
            @include tab {
                padding: 20px 0 26px;
            }
            margin-right: 8.1%;
            position: relative;

            &::after {
                content: "Recruitment 2020";
                color: $cl-gray--1;
                font-size: 1.2rem;
                position: absolute;
                bottom: 17%;
                right: 10%;
            }
        }

        .c-header__nav {
            padding: 35px 0 30px;
            width: 58.3%;
            margin-right: 44px;

            ul {
                display: flex;
                justify-content: space-between;
            }

            li {
                color: $cl-blue--1;
                letter-spacing: 0.32px;

                &:not(:last-of-type) {
                    margin-right: 20px;
                }
            }
        }

        .c-header__left {
            @include tab {
                transform: translateY(-3px);
            }

            .c-header--assign {
                background-color: $cl-blue--1;
                padding: 14px 40px 15px 39px;
                border-radius: 9px;
                white-space: nowrap;
                color: $cl-white--1;
                @include tab {
                    padding: 9px 28px 10px 33px;
                    
                }
            }

            .c-header--Licon {
                width: 20px;
                transform: translate(-4px, 5px);
                @include tab {
                    transform: translate(-8px, 3px);
                }
            }

            .c-header--Ltxt {
                font-size: 1.8rem;
                letter-spacing: 2.23px;
                @include tab {
                    font-size: 1.6rem;
                    letter-spacing: 1.98px;
                }
            }
        }
    }

    .l-tablet--only {
        ul {
          
            display: flex;
            padding: 7px 40px;
            justify-content: space-between;
        }

        a {
            color: $cl-blue--1;
            font-size: 1.6rem;
            letter-spacing: 0.32px;
        }
    }
}
