.c-interview {
    margin-top: 92px;
    @include tab {
        margin-top: 51px;
    }
    @include sp {
        margin-top: 36px;
    }

    .c-interview--main {
        .c-title,
        .c-cap {
            text-align: center;
        }

        .c-title {
            margin-bottom: 5px;
            @include tab {
                font-size: 3rem !important;
                letter-spacing: 1.62px;
                margin-bottom: 7px;
            }
            @include sp {
                font-size: 2.4rem !important;
                letter-spacing: 1.3px;
                margin-bottom: 10px;
            }
        }

        .c-cap {
            line-height: 1.73;
            @include tab {
                font-size: 1.4rem;
                letter-spacing: 0.34px;
                line-height: 1.8;
            }
            @include sp {
                line-height: 1.57;
            }
        }
    }

    .c-interview--header {
        max-width: 960px;
        margin: 50px auto 0;
        @include tab {
            max-width: 768px;
            margin: 32px auto 0;
            padding: 0 20px;
        }
        @include sp {
            max-width: 375px;
            margin: 35px auto 0;
        }
    }

    .c-interview--body {
        margin-top: 142px;
        background-color: $cl-blue--1;

        padding: 93px 30px 69px;
        color: $cl-white--1;
        @include tab {
            margin-top: 109px;
            padding: 52px 20px 40px;
        }
        @include sp {
            margin-top: 19px;
            padding: 55px 20px 40px;
        }

        .c-interview__exBox {
            max-width: 960px;
            margin: 0 auto;
        }

        .c-title {
            text-align: left;
            margin-bottom: 37px;
            @include tab {
                font-size: 3.4rem !important;
                letter-spacing: 2.52px;
                margin-bottom: 22px;
            }
            @include sp {
                font-size: 2.4rem !important;
                letter-spacing: 1.3px;
                line-height: 1.25;
            }
        }

        .c-cap {
            @include tab {
                font-size: 2rem !important;
                letter-spacing: 1.08px;
            }
        }

        h4.c-title {
            letter-spacing: 0.58px;
            line-height: 1.93;
            margin-bottom: 22px;
            @include tab {
                font-size: 2rem !important;
                letter-spacing: 0.48px;
                line-height: 2.1;
                padding-right: 75px;

                margin-bottom: 45px;
            }
        }
    }

    .c-interview--bodyM {
        display: flex;
        margin-bottom: 22px;
        @include tab {
            margin-bottom: 16px;
        }
        @include sp {
            display: block;
        }
    }

    .c-interview--bodyL {
        width: 66%;
        @include tab {
            width: 64.1%;
        }
        @include sp {
            width: 100%;
        }
    }

    .c-interview--bodyL {
        .c-cap {
            text-align: left;
            color: $cl-white--1;
            font-weight: 500;
            letter-spacing: 0.58px;
            margin-bottom: 26px;
            @include tab {
                letter-spacing: 0.98px;
                margin-bottom: 27px;
            }
        }

        .c-interview__desc {
            letter-spacing: 0.38px;
            font-weight: 300;
            line-height: 1.73;
            margin-bottom: 29px;
            @include tab {
                padding-right: 41px;
            }
        }
    }

    .c-interview--bodyR {
        padding-top: 4px;
        padding-left: 47px;
        @include tab {
            padding: 0;
        }
    }

    .c-interview__sign {
        font-size: 2.2rem;
        letter-spacing: 0.53px;
        font-weight: 500;
        @include tab {
            font-size: 1.8rem;
        }
    }

    .c-interview__company {
        margin-top: 47px;
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 2.52px;
    }

    .c-interview--footer {
        padding: 43px 30px 50px 40px;
        display: flex;
        @include tab {
            padding: 0;

            max-width: 768px;
            margin: 24px auto 0;
        }
    }

    .c-interview__logo {
        width: 308px;
        height: 116px;
        background-color: $cl-white--1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        @include tab {
            width: 247px;
            height: 102px;
            margin-right: 41px;
            transform: translateY(7px);
        }

        img {
            transform: translate(-5px, 1px);
            @include tab {
                transform: translate(0, 1.5px);
            }
        }
    }

    .c-interview--hastag {
        width: calc(100% - 308px - 50px);
        padding-left: 17px;
        @include tab {
            padding-left: 0;
            width: calc(100% - 247px - 41px);
        }
    }

    .c-interview--hastag1,
    .c-interview--hastag2,
    .c-interview--hastag3 {
        display: flex;
        margin-bottom: 24px;
        @include tab {
            margin-bottom: 28px;
        }
    }

    .c-interview--hastag1 {
    }

    .c-interview--hastagTxt1,
    .c-interview--hastagTxt2 {
        font-size: 2.4rem;
        letter-spacing: 0.58px;
        line-height: 0.9;
        @include tab {
            font-size: 2rem;
            letter-spacing: 0.48px;
        }
    }

    .c-interview--hastagTxt1 {
        width: 26%;
        position: relative;
        @include tab {
            width: 112px;
        }

        &::after {
            position: absolute;
            width: 62px;
            height: 1px;
            content: "";
            background-color: $cl-white--1;
            right: -9%;
            top: 57%;
            transform: translate(-50%, -50%);
            @include tab {
                width: 41px;

                right: 3%;
                top: 70.5%;
            }
        }
    }

    .c-interview--hastagTxt2 {
        transform: translateY(2px);
        @include tab {
            transform: translateY(5px);
        }
    }
}
