.c-recruit {
    margin-top: 91px;
    @include tab {
        margin-top: 51px;
    }
    @include sp {
        margin-top: 32px;
    }

    .c-recruit--main {
        @include tab {
            padding: 0 20px;
        }
        @include sp {
            padding: 0 10px;
        }
    }

    .c-title1 {
        text-align: center;
        margin-bottom: 7px;
        letter-spacing: 3.26px;
        @include sp {
            font-size: 2.4rem !important;
            letter-spacing: 1.3px;
            margin-bottom: 10px;
        }
    }

    .c-cap {
        text-align: center;
        line-height: 1.73;
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0.34px;
            line-height: 1.57;
        }
    }

    .c-recruit--body {
        max-width: 960px;
        margin: 55px auto 0;
        @include tab {
            margin: 32px auto 0;
        }
        @include sp {
            margin: 36px auto 0;
        }
    }

    table {
    }

    tr {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #707070;
        line-height: 1.9;
        @include sp {
            flex-wrap: wrap;
        }
    }

    th {
        font-size: 2rem;
        letter-spacing: 0.48px;
        font-weight: 600;
        text-align: left;
        width: 29%;
        padding-left: 61px;
        line-height: 1.6;
        @include tab {
            font-size: 1.6rem;
            letter-spacing: 0.38px;
            padding-left: 20px;
            line-height: 1.9;
            width: 25.4%;
        }
        @include sp {
            width: 100%;
            padding-left: 10px;
            letter-spacing: 0.16px;
            margin-bottom: 8px;
        }
     
    }

    td {
        text-align: left;
        font-size: 1.6rem;
        letter-spacing: 0.38px;
        font-weight: 400;
        width: 70%;
        padding-right: 33px;
        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.34px;
            line-height: 2.1;
            width: 73%;
            padding-right: 10px;
        }
        @include sp {
            width: 100%;
            padding-left: 10px;
            letter-spacing: 0.14px;
            line-height: 1.785;
        }
      
    }

    .c-table__tr1 {
        border-bottom: 5px solid $cl-blue--1;
        padding-bottom: 14px;
        @include sp {
            padding-bottom: 11px;
        }
       
    }
    


   

    tr:not(.c-table__tr1) {
        padding-top: 14px;
        padding-bottom: 13px;
        @include tab {
            padding-bottom: 15px;
        }
    }

    tr.c-table__tr2{
  
    }

    tr.c-table__tr5 {
        @include tab {
            padding-bottom: 12px;
        }
        @include sp {
            padding-bottom: 16px;
        }
 
      
       
    }

    tr.c-table__tr6 {
        @include tab {
            padding-bottom: 8px;
        }
        @include sp {
            padding-bottom: 16px;
        }
    }
 

   

    tr:not(.c-table__tr1,.c-table__tr2,.c-table__tr3,.c-table__tr4,.c-table__tr5,.c-table__tr6) {
        @include tab {
            padding-bottom: 14.2px; 
        }
        @include sp {
            padding-bottom: 16px;
        }
      
   
    }

    .c-tab--btnGroup {
        display: flex;
        justify-content: center;
        margin-top: 41px;
        @include sp {
            flex-wrap: wrap;
            margin: 38px auto 0;
            max-width: 340px;
        }
    }

    .c-tab__btn {
        width: 353px;
        border-radius: 9px;
        background-color: $cl-blue--1;
        padding: 16.5px 33px;
        font-size: 2.2rem;
        letter-spacing: 0.53px;
        color: $cl-white--1;
        display: flex;
        justify-content: space-around;
        @include tab {
            font-size: 2rem;
            letter-spacing: 0.48px;
            width: 301px;
            padding: 12px 14px;
        }
        @include sp {
            width: 89%;
            padding: 11.5px 17px;
            font-size: 1.8rem;
            justify-content: unset;
            letter-spacing: 0.43px;
        }
        
    }

    .c-tab__btnIcon {
        height: 30px;
        @include tab {
            height: 26px;
        }
        @include sp {
            height: 23px;
            width: 22px;
        }
      
    }

    .c-tab__btn1 {
        margin-right: 35px;
        @include tab {
            margin-right: 20px;
        }
        @include sp {
            margin-right: 0;
            margin-bottom: 20px;
        }

        .c-tab__btnIcon {
            transform: translate(-11px, 2px);
            @include tab {
                transform: translate(2px, 2px);
            }
            @include sp {
                transform: translate(3px, 2px);
                margin-right: 19%;
            }
        }

        .c-tab__btnTxt {
            transform: translate(-9px, 0);
        }
     
    }

    
    .c-tab__btn2 {
        .c-tab__btnIcon {
            transform: translate(0, 2px);
            @include tab {
                transform: translate(-1px, 2px);
            }
            @include sp {
                transform: translate(3px, 2px);
                margin-right: 9%;
            }
        }

        .c-tab__btnTxt {
            transform: translate(3px, 0);
            @include tab {
                transform: translate(-3px, 0);
            }
                   
        }
    }
    
}
