.c-work {
    margin-top: 93px;
    @include tab {
        margin-top: 53px;
    }
    @include sp {
        margin-top: 33px;
    }

    .c-work__header {
        text-align: center;
        margin-bottom: 59px;
        @include tab {
            margin-bottom: 36px;
        }
        @include sp {
            margin-bottom: 34px;
        }
    }

    .c-title {
        margin-bottom: 8px;
        @include tab {
            font-size: 3rem;
            letter-spacing: 1.62px;
            margin-bottom: 7px;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            margin-bottom: -1px;
        }
    }

    .c-cap {
        line-height: 1.73;
        @include tab {
            font-size: 1.4rem;
            line-height: 1.78;
            letter-spacing: 0.34px;
        }
        @include sp {
            line-height: 1.58;
        }
    }

    .c-box__L {
        img {
            min-width: 400px;
            @include tab {
                min-width: 288px;
                @include sp {
                    min-width: unset;
            
                }
            }
          
        }

        picture {
            &:not(:first-of-type) {
                @include tab {
                    img {
                        transform: translateY(-9px);
                        
                    }
                }
                @include sp {
                    img {
                        transform: translateY(0);
                        
                    }
                }
            }
        }
    }

    .c-box__R {
        background-color: $cl-gray--7;

        padding: 8.6% 2% 9% 3.7%;
        max-height: 944px;
        @include tab {
            padding: 7.1% 2.7% 9%;
            max-height: 748px;
        }
        @include sp {
            padding: 9.1% 2.7% 10.4%;
        }
    }

    .c-box__Rheader {
        margin-bottom: 30px;
        @include tab {
            margin-bottom: 18px;
        }
        @include sp {
            margin-bottom: 17px;
        }
    }

    .c-box__Rheader > .c-title {
        margin-bottom: 7px;
        @include tab {
            margin-bottom: 4px;
        }
        @include sp {
            margin-bottom: 2px;
        }
    }

    .c-box__Rbody {
        max-width: 560px;
    }

    .c-box__cate {
        display: flex;
        border: 1px solid $cl-blue--1;

        &:not(:last-of-type) {
            margin-bottom: 21.3px;
            @include tab {
                margin-bottom: 15.5px;
            }
            @include sp {
                margin-bottom: 10.5px;
            }
        }

        .c-box__tag {
            text-align: center;
            background-color: $cl-blue--1;
            width: 9.6%;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            @include sp {
                width: 12.1%;

            }
        }

        .c-box__desc {
            width: 90.4%;
            padding: 14px 20px 13px 19px;
            line-height: 1.55;
            @include tab {
                letter-spacing: -1.76px !important;
                padding: 9px 20px 11px 19px;
                line-height: 1.3;
            }
            @include sp {
                font-size: 1.4rem !important;
                letter-spacing: 0.34px !important;
                padding: 11px 10px 11.3px 15px;

                line-height: 1.58;
            }
        }
    }

  
}
