.c-box {
    display: flex;
    padding-left: 120px;
    @include tab {
        padding-left: 20px;
    }
    @include sp {
        padding-left: 10px;
        flex-wrap: wrap;
    }

    .c-box__L {
        width: 400px;
        @include tab {
            width: 288px;
        }
        @include sp {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            & > * {
                width: 50%;
            }
        }
    }

    .c-box__R {
        width: calc(100% - 400px);
        @include tab {
            width: calc(100% - 288px);
        }
        @include sp {
            width: 100%;
        }

        .c-box__desc {
            font-weight: 500;
            font-size: 1.8rem;
            color: $cl-gray--1;
            letter-spacing: 0.54px;
          
        }
    }
}
